{% extends 'base.html.twig' %}

{% block body %}
    <div class="container text-center mt-5">
        <h1 class="mb-4">Bienvenue sur HVAgency</h1>
        <p>Restez informé avec nos dernières actualités et découvrez tout sur notre entreprise.</p>
        <a href="{{ path('app_news') }}" class="btn btn-primary">Voir les actualités</a>
        </div>
    </div>
{% endblock %}


